@import url("https://fonts.googleapis.com/css?family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-height: 100vh;
  margin: 0;
  * {
    margin: 0;
    padding: 0;
  }
}

#container {
  height: 100%;
  width: 100%;
  position: relative;
  background: whitesmoke;
  display: flex;
  z-index: 0;
  * {
    box-sizing: border-box;
  }
}

#body {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  height: 900px;
  background: #e9c615;
  border-radius: 10px;
  bottom: -200px;
  left: 20px;
  #body-line {
    background: white;
    opacity: 0.1;
    width: 65%;
    height: 70%;
    top: 20%;
    position: absolute;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 75px;
      background: white;
      bottom: -30px;
      border-radius: 45%;
      box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 35px;
    top: 50%;
    border-radius: 35px;
    border: 3px solid black;
    opacity: 0.2;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    background: #e9c615;
    bottom: -25px;
    border-radius: 45%;
  }
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: black;
  margin: 30px 0;
  width: 90%;
  height: 42%;
  border-radius: 10px 10px 20px 20px;
  padding: 40px;
  #display {
    width: 300px;
    height: 275px;
    background: grey;
    z-index: 1;
    border-radius: 2px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    background: black;
    bottom: -25px;
    border-radius: 45%;
  }
}

#controls {
  position: relative;
  width: 100%;
  height: 20%;
  margin: 50px;
  #dpad {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 35px;
    top: 20px;
    #up-down,
    #left-right {
      position: absolute;
      background: black;
      border-radius: 5px;
    }
    #up-down {
      width: 40px;
      height: 130px;
      left: 45px;
    }
    #left-right {
      width: 130px;
      height: 40px;
      top: 45px;
    }
  }
  #buttons {
    position: absolute;
    width: 190px;
    height: 90px;
    right: 35px;
    top: 45px;
    #a, #b {
      box-sizing: border-box;
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 70px;
      background: black;
      &::after {
        position: absolute;
        font-family: "News Cycle", sans-serif;
        font-weight: 700;
        font-size: 45px;
        line-height: 0;
        color: white;
        opacity: 0.2;
        top: 30px;
        left: 10px;
      }
    }
    #a {
      right: 0;
      top: 0;
      &::after {
        content: 'A';
      }
    }
    #b {
      left: 0;
      bottom: 0;
      &::after {
        content: 'B';
      }
    }
  }
}

#start-select {
  position: relative;
  width: 30%;
  height: 10%;
  margin-top: 20px;
  #start,
  #select {
    position: absolute;
    width: 50px;
    height: 20px;
    background: black;
    border-radius: 40%;
    top: 20px;
  }
  #start {
    right: 10%;
  }
  #select {
    left: 10%;
  }
  &::before,
  &::after {
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    opacity: 0.2;
    top: 40px;
  }
  &::before {
    content: "SELECT";
    left: 5%;
  }
  &::after {
    content: "START";
    right: 6%;
  }
}
